<!DOCTYPE html>
<html>
    <head>
        <title>Honours Project</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/projects">View Projects</a></li>
        </ul>    
    </div>
    <h1 id="projectname"><%= data.name %></h1><br><br>
    <div class="fileuploader">
        <% if(data.user == data.creator) { %>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" id="file"/><br>
                <button type="submit">Submit</button>
            </form><br><br>
        
        <% } %>    
    </div>
    <div class="filedisplay">
        <% if(data.files) { %>
            <% data.files.forEach(function(file) { %>
                <!--change the includes-->
                <% if ((data.user == data.creator) || ((file.metadata.roleaccess.role).includes(data.user))) { %>
                    <a href=/download id="filename"><%= file.filename %></a><form action ="/files/<%= file._id %>?_method=POST" method="POST"><input type="submit" value="Download file"></form><br>
                    <% if(data.user == data.creator) { %>
                        <form action ="/files/<%= file._id %>?_method=DELETE" method="POST"><input type="submit" value="Delete file"></form><br>
                        <form action="/updatepermissions/<%= file._id %>" method="POST">
                            <% for (const i in data.roles) { %>
                                <input type="checkbox" id="permission" name="permission" value="<%= data.roles[i]%>">
                                <label for="permission"> <%= data.roles[i]%></label><br>
                                <% } %>  
                                <input type="submit" value="Update permissions"><br><br>
                        </form>
                    <% } %> 
                <% } %> 
            <% }) %>    
        <% } else { %>
            <p>no files</p>
        <% } %><br><br>
    </div>
    
    <div class="manageroles">
        <% if(data.user == data.creator) { %>
            <form action="/addrole" method="POST">
                <label for="role">Add Role:</label><br>
                <input type="text" id="role" name="role"><br>
                <input type="submit" value="Submit">
            </form><br><br>

            <form action="/removerole" method="POST">
                <label for="role">Remove Role:</label><br>
                <select name="role" id="role">
                    <% for (const i in data.roles) { %>
                        <option value="<%= data.roles[i] %>"> <%= data.roles[i] %> </option>
                        <% } %>       
                </select><br>
                <input type="submit" value="Remove Role">
            </form><br><br>
        <% } %>

    </div>
    
    <div class="manageusers">
        <% if(data.user == data.creator) { %>
            <form action="/adduser" method="POST">
                <label for="user">Add User:</label><br>
                <input type="text" id="user" name="user"><br>
                <select name="role" id="role">
                    <% for (const i in data.roles) { %>
                        <option value="<%= data.roles[i] %>"> <%= data.roles[i] %> </option>
                        <% } %>       
                </select><br>
                <input type="submit" value="Submit">
            </form><br><br>
    
            <form action="/removeuser" method="POST">
                <label for="user">Remove User:</label><br>
                <select name="user" id="user">
                    <% for (const i in data.users) { %>
                        <option value="<%= data.users[i].user %>"> <%= data.users[i].user %>, <%= data.users[i].role %>  </option>
                        <% } %>       
                </select><br>
                <input type="submit" value="Remove User">
            </form>
        <% } %>
    </div>

    
    
    <script src="../static/client.js"></script>
</body>